<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parent">
            <h2><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.detail.title">Parent</span> {{ parent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.name">Name</span></dt>
                <dd>
                    <span>{{ parent.name }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{ parent.dateOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.parentMobileNumber">Parent Mobile Number</span></dt>
                <dd>
                    <span>{{ parent.parentMobileNumber }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.parentEmail">Parent Email</span></dt>
                <dd>
                    <span>{{ parent.parentEmail }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.approvalStatus">Approval Status</span></dt>
                <dd>
                    <span>{{ parent.approvalStatus }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.studentId">Student Id</span></dt>
                <dd>
                    <span>{{ parent.studentId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parent', parent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
