<div>
    <h2 id="page-heading">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.home.title">Parents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parent" [routerLink]="['/parent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.home.createLabel">
            Create a new Parent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="parents?.length === 0">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.home.notFound">No parents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="parents && parents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentMobileNumber"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.parentMobileNumber">Parent Mobile Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentEmail"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.parentEmail">Parent Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="approvalStatus"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.approvalStatus">Approval Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="studentId"><span jhiTranslate="isourceschooladmingatewayappApp.isourceserviceappParent.studentId">Student Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parent of parents ;trackBy: trackId">
                    <td><a [routerLink]="['/parent', parent.id, 'view']">{{ parent.id }}</a></td>
                    <td>{{ parent.name }}</td>
                    <td>{{ parent.dateOfBirth | date:'medium' }}</td>
                    <td>{{ parent.parentMobileNumber }}</td>
                    <td>{{ parent.parentEmail }}</td>
                    <td>{{ parent.approvalStatus }}</td>
                    <td>{{ parent.studentId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/parent', parent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/parent', parent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(parent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="parents && parents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
