<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="busEvents">
            <h2><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.detail.title">Bus Events</span> {{ busEvents.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventType">Event Type</span></dt>
                <dd>
                    <span>{{ busEvents.eventType }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventDate">Event Date</span></dt>
                <dd>
                    <span>{{ busEvents.eventDate }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventStatus">Event Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'isourceschooladmingatewayappApp.BusRouteEventStatus.' + busEvents.eventStatus }}">{{ busEvents.eventStatus }}</span>
                </dd>
                <dt><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.busRoute">Bus Route</span></dt>
                <dd>
                    <div *ngIf="busEvents.busRoute">
                        <a [routerLink]="['/bus-route', busEvents.busRoute?.id, 'view']">{{ busEvents.busRoute?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bus-events', busEvents.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
