<div>
    <h2 id="page-heading">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.home.title">Bus Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bus-events" [routerLink]="['/bus-events/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.home.createLabel">
            Create a new Bus Events
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="busEvents?.length === 0">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.home.notFound">No busEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="busEvents && busEvents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventType"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventType">Event Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventDate"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventDate">Event Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventStatus"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.eventStatus">Event Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="busRoute.id"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappBusEvents.busRoute">Bus Route</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let busEvents of busEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/bus-events', busEvents.id, 'view']">{{ busEvents.id }}</a></td>
                    <td>{{ busEvents.eventType }}</td>
                    <td>{{ busEvents.eventDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'isourceschooladmingatewayappApp.BusRouteEventStatus.' + busEvents.eventStatus }}">{{ busEvents.eventStatus }}</td>
                    <td>
                        <div *ngIf="busEvents.busRoute">
                            <a [routerLink]="['/bus-route', busEvents.busRoute?.id, 'view']" >{{ busEvents.busRoute?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bus-events', busEvents.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bus-events', busEvents.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(busEvents)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="busEvents && busEvents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
