<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-events-heading" jhiTranslate="isourceschooladmingatewayappApp.isourceproductappStudentEvents.home.createOrEditLabel">Create or edit a Student Events</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="isourceschooladmingatewayappApp.isourceproductappStudentEvents.eventType" for="field_eventType">Event Type</label>
                    <input type="text" class="form-control" name="eventType" id="field_eventType"
                           formControlName="eventType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="isourceschooladmingatewayappApp.isourceproductappStudentEvents.eventDate" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" formControlName="eventDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="isourceschooladmingatewayappApp.isourceproductappStudentEvents.eventStatus" for="field_eventStatus">Event Status</label>
                    <select class="form-control" name="eventStatus" formControlName="eventStatus" id="field_eventStatus">
                        <option value="PLANNED">{{ 'isourceschooladmingatewayappApp.StudentEventStatus.PLANNED' | translate }}</option>
                        <option value="INPROGRESS">{{ 'isourceschooladmingatewayappApp.StudentEventStatus.INPROGRESS' | translate }}</option>
                        <option value="COMPLETED">{{ 'isourceschooladmingatewayappApp.StudentEventStatus.COMPLETED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="isourceschooladmingatewayappApp.isourceproductappStudentEvents.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
