<div>
    <h2 id="page-heading">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.home.title">Absence Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-absence-request" [routerLink]="['/absence-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.home.createLabel">
            Create a new Absence Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="absenceRequests?.length === 0">
        <span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.home.notFound">No absenceRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="absenceRequests && absenceRequests.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="absenceDate"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.absenceDate">Absence Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reason"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.reason">Reason</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="approvalStatus"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.approvalStatus">Approval Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="isourceschooladmingatewayappApp.isourceproductappAbsenceRequest.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let absenceRequest of absenceRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/absence-request', absenceRequest.id, 'view']">{{ absenceRequest.id }}</a></td>
                    <td>{{ absenceRequest.absenceDate | date:'medium' }}</td>
                    <td>{{ absenceRequest.reason }}</td>
                    <td>{{ absenceRequest.approvalStatus }}</td>
                    <td>
                        <div *ngIf="absenceRequest.student">
                            <a [routerLink]="['/student', absenceRequest.student?.id, 'view']" >{{ absenceRequest.student?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/absence-request', absenceRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/absence-request', absenceRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(absenceRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="absenceRequests && absenceRequests.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
